<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.company.project.dao.SearcherWebsitesMapper">
  <resultMap id="BaseResultMap" type="com.company.project.model.SearcherWebsites">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="webUrl" jdbcType="VARCHAR" property="weburl" />
    <result column="webName" jdbcType="VARCHAR" property="webname" />
    <result column="webDoc" jdbcType="VARCHAR" property="webdoc" />
    <result column="webLogo" jdbcType="VARCHAR" property="weblogo" />
    <result column="webType" jdbcType="VARCHAR" property="webtype" />
    <result column="cent" jdbcType="INTEGER" property="cent" />
    <result column="fromUrl" jdbcType="VARCHAR" property="fromurl" />
    <result column="other2" jdbcType="INTEGER" property="other2" />
    <result column="other3" jdbcType="INTEGER" property="other3" />
  </resultMap>
</mapper>